<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>798850691252-hmdcrlu6j85s7agb8bsdh8p7c53ljkfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798850691252-hmdcrlu6j85s7agb8bsdh8p7c53ljkfk</string>
	<key>API_KEY</key>
	<string>AIzaSyA7uvQYAKQKMODfoCSg5dsJf72JJpcVOE4</string>
	<key>GCM_SENDER_ID</key>
	<string>798850691252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udacity.MsgApp</string>
	<key>PROJECT_ID</key>
	<string>msgapp-bd32c</string>
	<key>STORAGE_BUCKET</key>
	<string>msgapp-bd32c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:798850691252:ios:ec6959def281dafb</string>
	<key>DATABASE_URL</key>
	<string>https://msgapp-bd32c.firebaseio.com</string>
</dict>
</plist>